<h1> Edit Author </h1>

<%= form_with model: @author do |form| %>
    <%= form.text_field :fname, placeholder: 'first name' %><br/>
    <%= form.text_field :lname, placeholder: 'last name' %><br/>
    <%= form.date_field :dob, placeholder: 'date of birth' %><br/>
    <%= form.text_field :email, placeholder: 'email' %><br/>
    <%= form.submit %>
<% end %> 