<head>
    <style>
    body{
        text-align:center;

    }
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        padding:10px;
        text-align:center;
      }
    </style>
</head>
<body>
<center>
    <h1>Author Table </h1>

    <table>

        <tr><td>Author Name</td><td>Show</td><td>Edit</td><td>Delete</td></tr>
        <% @authors.each do |author| %>
        <tr>
            <td><%=author.fname %>  <%=author.lname %></td>
            <td><%= button_to 'Show', author_path(author), method: 'get'%></td>
            <td><%= button_to 'Edit', edit_author_path(author), method: 'get'%></td>
            <td><%= button_to 'Remove', author_path(author), method: 'delete' %></td> 
        </tr>
    <% end %>
    </table>
    <%= link_to "Add a New Author", new_author_path %>
</center>
</body> 